/*
  _______    _     _               __    _____            _             _   
 |__   __|  | |   | |             / _|  / ____|          | |           | |  
    | | __ _| |__ | | ___    ___ | |_  | |     ___  _ __ | |_ ___ _ __ | |_ 
    | |/ _` | '_ \| |/ _ \  / _ \|  _| | |    / _ \| '_ \| __/ _ \ '_ \| __|
    | | (_| | |_) | |  __/ | (_) | |   | |___| (_) | | | | ||  __/ | | | |_ 
    |_|\__,_|_.__/|_|\___|  \___/|_|    \_____\___/|_| |_|\__\___|_| |_|\__|

    Ctrl F to go to the particular styles
    
    1.0 Color variables
    2.0 Global styles
    3.0 Main Page
    4.0 Scrollbar
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@500&display=swap');

// 1.0 Color variables
$primary-color: #243271;
$secondary-color: #6c757d;
$background-color: #e8f2fa;
$title-color:#243271;

// 2.0 Global styles
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #fff;
}

.wrap-1 {
    max-width: 71.25em;
    margin-left: auto;
    margin-right: auto;
  }
.wrap-2 {
    max-width: 73.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.section {
    padding-top: 3em;
    padding-bottom: 3em;
}
.section.pt-1 {
    padding-top: 1em;
}
.section.pb-1 {
    padding-bottom: 1em;
}
.centralized {
    margin-left: auto;
    margin-right: auto;
}
.flex-box.gap-1 {
    gap: 1em;
}

// 3.0 Main Page
h1 {
  font-size: 28px;
  color: $primary-color;
  margin-bottom: 20px;
  text-align: center;
}

.main-wrapper{
    width: 100%;
    margin: 0 auto;

    .map {
        flex: 1;
        height: auto;
    }

    input{
        margin: 20px 0;
    }

    @media (max-width: 768px) {
        max-width: 100%;
        flex-direction: column;
      }
}

.history-sec{
    margin: 20px 0;
}

/* 4.0 Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    height: 0;
    background-color: transparent;
  }
  
  @media(min-width:576px){
    ::-webkit-scrollbar {
      height: 8px;
    }
  }
  
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #888; 
  }
  
  /*Horizontal scrollers*/
  .scroller::-webkit-scrollbar-track
  {
      border-radius: 4px;
      background-color: transparent;
  }
  
  .scroller::-webkit-scrollbar
  {
      width: 4px;
    height: 8px;
      background-color: transparent;
  }
  
  .scroller::-webkit-scrollbar-thumb
  {
      border-radius: 4px;
      background-color: rgba(119, 118, 118, 0.2);
  }
  .scroller{
    overflow: auto;
    white-space: nowrap;
  }